/* aca van tus estilos valor (2 puntos)*/

:root {
    --character-list-color: #272B33; /* color de la lista de personajes */
    --character-color: #3B3E43; /* color del card del personaje */
    --primary-font-color: #F5F5F5; /* color fuente principal */
    --secondary-font-color: #67686B; /* color fuente secundaria */
    --alive: #54CB44; /* color personaje vivo */
    --unknown: #9E9E9E; /* color personaje desconocido */
    --dead: #D63D2E; /* color personaje 💀 */
    --font: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol'; /* fuente principal */
}

.character-list {
    
    /* ejemplo de uso de variables con css */
    background-color: var(--character-list-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    padding-bottom: 20px;
}


.content {
    width: 600px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem;
    
}

.article {
    
    background-color: var(--character-list-color);
}


.character-image img {
    flex: 2 1 0%;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.top{
    margin-bottom: 0px;
}


.Name {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-font-color);
}

.status {
    font-weight: 800;
    font-size: 14px;
    color: var(--primary-font-color);
}

.status__icon__Dead {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--dead);
    border-radius: 50%;
    margin-right: 5px;
}

.status__icon__unknown {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--unknown);
    border-radius: 50%;
    margin-right: 5px;
}

.status__icon__Alive {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--alive);
    border-radius: 50%;
    margin-right: 5px;
}


.last,
.first {
    font-size: 16px;
    color: var(--secondary-font-color);
}


.location {
    font-size: 16px;
    color: var(--primary-font-color);
}


body{
    font-family: var(--font);
    background-color: var(--character-list-color);
}
